html {
    scroll-behavior: smooth;
}

.nav-container {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center !important;
    position: fixed;
    top: 1vh;
    z-index: 999;
    width: 100%;
}

.nav-background {
    width: auto;
    height: 40px;
    padding: 0 30px;
    background: #fff;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 40px;
    display: flex;
    justify-content: space-around; /* Updated for better centering */
    align-items: center;
    margin: 0 auto; /* Ensure it's centered */
}

.nav-list {
    display: flex;
    justify-content: center; /* Ensure center alignment */
    gap: 20px;
    list-style: none;
    align-items: center;
    margin: 0;
    padding: 0;
    width: 100%; /* Full width to use space */
}

.nav-item {
    font-weight: bold;
    font-size: 1rem;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

.nav-item.active a {
    color: #00bfa6 !important;
}

.nav-item a {
    text-decoration: none;
    color: #000;
    transition: color 0.3s ease-in-out;
}

.nav-item a:hover {
    color: #00bfa6;
}

@media (max-width: 768px) {
    .nav-background {
        width: 90%;
        padding: 0 15px;
    }

    .nav-list {
        gap: 10px;
    }

    .nav-item {
        font-size: 0.9rem;
    }
}

@media (max-width: 600px) {
    .navbar {
        top: 10px;
        font-size: 80%;
    }

    .nav-background {
        width: 95%;
        padding: 0 10px;
    }

    .nav-list {
        justify-content: center; /* Reinforce centering */
    }

    .nav-item {
        font-size: 0.8rem;
    }
}



/* Base Styles */
.logo {
    max-width: 60px; /* Control the size of the logo */
    flex-shrink: 0; /* Prevent the logo from resizing */
    transition: margin 0.3s ease; /* Smooth transition for any margin changes */
}

/* Media Queries for Mobile Adjustments */
@media (max-width: 768px) {
    .logo {
        max-width: 50px; /* Slightly smaller logo for mobile */
        margin-top: -15px; /* Adjust the position to align with navbar */
    }
}

@media (max-width: 600px) {
    .logo {
        max-width: 45px; /* Consistent size with other mobile settings */
        margin-top: -17px; /* Higher lift for very small screens */
    }
}

